{% extends 'base.html' %}

{% block title %}Нет каталогов{% endblock %}

{% block content %}
    Оборудование без актов ввода
    {% for equipment in equip_without_commissioning_sheet %}
        <br>  
        {{ equipment }}
    {% endfor %}
    <br>  

    Оборудование без актов приемки
    {% for equipment in equip_without_acceptance_act %}
        <br>  
        {{ equipment }}
    {% endfor %}
    <br>  

    Оборудование без шильдиков
    {% for equipment in equip_without_nameplate %}
        <br>  
        {{ equipment }}
    {% endfor %}
    <br>  

    Оборудование без схем воздушных
    {% for equipment in equip_without_pneumatic %}
        <br>  
        {{ equipment }}
    {% endfor %}
    <br>  

    Оборудование без схем гидравлических
    {% for equipment in equip_without_hydraulic %}
        <br>  
        {{ equipment }}
    {% endfor %}
    <br>  

    Оборудование без схем электрических
    {% for equipment in equip_without_electric %}
        <br>  
        {{ equipment }}
    {% endfor %}
    <br>  

    Оборудование без инструкций
    {% for equipment in equip_without_manual %}
        <br>  
        {{ equipment }}
    {% endfor %}
    <br>  

    Оборудование без каталогов
    {% for equipment in equip_without_catalog %}
        <br>  
        {{ equipment }}
    {% endfor %}
    <br>  

{% endblock content %}