{% extends 'base.html' %}

{% block title %}Перемещения оборудования{% endblock %}

{% block content %}

<h3 class="fw-bold fs-4 mb-3">Все перемещения оборудования</h3>

<div class="row">
    <div class="col-12">

        <table id="buckets_table" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Дата перемещения</th>
                    <th>Оборудование</th>
                    <th>Откуда</th>
                    <th>Куда</th>
                    <th>Приказ</th>
                </tr>
            </thead>
            <tbody>
                {% for relocation in relocations %}
                <tr>
                    <td>
                        <a href="{% url 'equipment_relocation_update' equipment_relocation_pk=relocation.pk %}">{{ relocation.date|date:"d.m.Y"|default:'введите дату' }}</a>
                    </td>
                    <td>{{ relocation.equipment.number }}</td>
                    <td>{{ relocation.from_site.name }}</td>
                    <td>{{ relocation.to_site.name }}</td>
                    <td>
                        {% if relocation.order %}
                            <a href="{% url 'equipment_relocation_order_update' order_pk=relocation.order.pk %}">{{ relocation.order }}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Дата перемещения</th>
                    <th>Оборудование</th>
                    <th>Откуда</th>
                    <th>Куда</th>
                    <th>Приказ</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

{% endblock content %}

{% block scripts %}
    {% include "partial/table_scripts.html" %}
{% endblock scripts %}
