{% extends 'equipments/equipment_base.html' %}

{% load static %}

{% block equipment_content %}
    {% if user_can_create_relocation %}
        <a href="{% url 'equipment_relocation_create' equipment_number=equipment.number %}" class="btn btn-primary">
            Создать перемещение
        </a>
    {% endif %}

    <table id="equipments_table" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Дата перемещения</th>
                <th>Приказ</th>
                <th>Примечания</th>
                <th>Автор</th>
                <th>Редактирование</th>
            </tr>
        </thead>
        <tbody>
            {% for relocation in equipment.relocations.all %}
            <tr>
                <td>{{ relocation.from_site|default:'-' }}</td>
                <td>{{ relocation.to_site|default:'-' }}</td>
                <td>{{ relocation.date|date:"d.m.Y"|default:'-' }}</td>
                <td>
                    {% if relocation.order %}
                        <a href="{% url 'equipment_relocation_order_update' order_pk=relocation.order.pk %}">{{ relocation.order }}</a>
                    {% endif %}
                </td>
                <td>{{ relocation.note|default:'-' }}</td>
                <td>{{ relocation.author.get_full_name }}</td>
                <td>
                    <a href="{% url 'equipment_relocation_update' equipment_relocation_pk=relocation.pk %}" class="btn btn-inverse-dark btn-sm text-center">
                        <i class="ti-pencil-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock equipment_content %}