__pycache__
db.sqlite3
venv
.idea
.DS_Store
media
.vscode
uploads
persistentdata

client_secret.json
token_drive_v3.pickle
token_sheets_v4.pickle
files_id.py

.pg-env
.env.prod
.env.dev-docker-local
docker-compose-dev-local.yml

bootstrap
