{% extends 'base.html' %}

{% block title %}{{ component.number }} {{ component.component_type.name }}{% endblock %}

{% block content %}

<div class="container">
  <p class="fw-bold fs-3 mb-2">{{ component }} {% if component.is_serial_number_marked %}✅{% endif %}</p>

  <div class="row">
      <div class="col-lg-3 col-md-4 col-12">

          <div class="p-2 border bg-light">
            Местоположение:<br>
            <b>{{ component.current_data.location|default:'' }}</b>
          </div>

          <div class="p-2 border bg-light">
            {% if component.get_equipment %}
            Установлен на: <b>
                            <a href="{% url 'equipment_all_events_tab' equipment_number=component.get_equipment.number %}" class="text-body custom-link">
                              {{ component.get_equipment|default:'' }}
                              {% if component.get_location_on_equipment %}
                                ({{ component.get_location_on_equipment }})
                              {% endif %}
                            </a>
                            </b>
            {% else %}
            Компонент не установлен на оборудование
            {% endif %} <b>{% if component.get_equipment_days %} {{component.get_equipment_days}}дн {% endif %}</b>
          </div>

      </div>
      <div class="col-lg-3 col-md-4 col-12">
        <div class="p-2 border bg-light fw-bold">
          {{ component.get_techstate.techstate|default:'Нет информации о техсостоянии' }}
        </div>
        
        <div class="p-2 border bg-light">
          Состояние: <b>{{ component.current_data.state|default:'' }}</b>
        </div>

        <div class="p-2 border bg-light">
          <b>{% if component.current_data.is_operable == False %}<div class="text-danger">Не подлежит эксплуатации</div>{% else %}Подлежит эксплуатации{% endif %}</b>
        </div>
        
      </div>

      <div class="col-lg-3 col-md-4 col-12">
        <div class="p-2 border bg-light">Склад: <b>{{ component.get_warehouse_from_import_data|default:'' }}</b></div>
        <div class="p-2 border bg-light">Номенклатура: <b>{{ component.get_nomenclature_from_import_data|default:'' }}</b></div>
        <div class="p-2 border bg-light">Код номенклатуры: <b>{{ component.nomenclature_code|default:'' }}</b></div>
      </div>
  </div>
</div>

<div class="container mt-3">
  <hr>
  <!------- Вкладки ------------------------->
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if state_tab %}active{% endif %}" href="{% url 'component_state_tab' component.number %}">
            Текущий статус
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if relocations_tab %}active{% endif %}" href="{% url 'component_relocations_tab' component.number %}">
            Перемещение
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if techstates_tab %}active{% endif %}" href="{% url 'component_techstates_tab' component.number %}">
            Техсостояние
          </a>
        </li>
        <li class="nav-item"></li>
          <a class="nav-link {% if installations_tab %}active{% endif %}" href="{% url 'component_installations_tab' component.number %}">
            Монтаж/демонтаж
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if reconciliations_tab %}active{% endif %}" href="{% url 'component_reconciliations_tab' component.number %}">
            Сверка
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if tasks_tab %}active{% endif %}" href="{% url 'component_tasks_tab' component.number %}">
            Задачи
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if repairs_tab %}active{% endif %}" href="{% url 'component_repairs_tab' component.number %}">
            Ремонты
          </a>
        </li>
    </ul>
  <!------- Вкладки ------------------------->

    <br>
    <!-- Раздел с сообщениями -->
    {% if messages %}
    <div class="alert-messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message|safe }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Раздел с сообщениями -->

    {% block component_content %}
    {% endblock component_content %}
</div>

{% endblock content %}
