{% extends 'base.html' %}

{% block title %}{{ component.number }} {{ component.component_type.name }}{% endblock %}

{% block content %}

<div class="container">
  <p class="fw-bold fs-3 mb-2">{{ component }}</p>

  <div class="row">
      <div class="col-lg-3 col-md-4 col-12">

          <div class="p-2 border bg-light">
            Местоположение:<br>
            <b>{{ component.current_data.location|default:'' }}</b>
          </div>

          <div class="p-2 border bg-light">
            {% if component.get_equipment %}
            Установлен на: <b>{{ component.get_equipment|default:'' }}{% if component.get_location_on_equipment %} ({{ component.get_location_on_equipment }}){% endif %}</b>
            {% else %}
            Компонент не установлен на оборудование
            {% endif %} <b>{% if component.get_equipment_days %} {{component.get_equipment_days}}дн {% endif %}</b>
          </div>

      </div>
      <div class="col-lg-3 col-md-4 col-12">
        <div class="p-2 border bg-light fw-bold {% if component.get_is_needs_any_repair %}text-danger{% else %}text-success{% endif %}">
          {{ component.get_techstate.techstate|default:'Нет информации о техсостоянии' }}
        </div>
        
        <div class="p-2 border bg-light">
          Статус: <b>{{ component.current_data.state|default:'' }}</b>
        </div>

        <div class="p-2 border bg-light">
          <b>{% if component.current_data.is_operable == False %}<div class="text-danger">Не подлежит эксплуатации</div>{% else %}Подлежит эксплуатации{% endif %}</b>
        </div>
        
        {% if component.get_is_obsoleted %}
        <div class="p-2 border bg-light"><b>Выведен из эксплуатации</b></div>
        {% endif %}

        {% if component.get_is_decommissioned %}
        <div class="p-2 border bg-light"><b>Списан</b></div>
        {% endif %}

      </div>

      <div class="col-lg-3 col-md-4 col-12">
        <div class="p-2 border bg-light">Редактор: </div>
        <div class="p-2 border bg-light">Серийный номер: <b>{{ component.serial_number|default:'' }}</b>{% if component.is_serial_number_marked %}✅{% else %}❌{% endif %}</div>
        <div class="p-2 border bg-light">Код номенклатуры: <b>{{ component.nomenclature_code|default:'' }}</b></div>
      </div>
  </div>
</div>

<div class="container mt-3">
  <!------- Раздел с предупреждениями ------->
  <ul>
    <li>
      {% if component.requires_reconciliation %}
      <a href="" class="text-danger fw-bold">
        Компоненту требуется сверка
      </a>
      {% endif %}
    </li>
    <li>
      {% if component.get_is_needs_any_repair and component.get_repair and not component.get_repair.start_date and not component.get_repair.plan_start_date %}
      <a href="{% url 'component' component.number %}" class="text-danger fw-bold">
        Компоненту требуется отметка о плановой или фактической дате начала ремонта
      </a>
      {% endif %}
    </li>
    <li>
      {% if component.get_is_needs_any_repair and not component.get_repair %}
      <a href="{% url 'bucket_repairs_tab' component.number %}" class="text-danger fw-bold">
        Компоненту требуется отметка о ремонте
      </a>
      {% endif %}
    </li>
  </ul>
    <hr>
  <!------- Раздел с предупреждениями ------->

  <!------- Вкладки ------------------------->
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if state_tab %}active{% endif %}" href="{% url 'component_state_tab' component.number %}">
            Текущий статус
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if relocations_tab %}active{% endif %}" href="{% url 'component_relocations_tab' component.number %}">
            Перемещение
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if techstates_tab %}active{% endif %}" href="{% url 'component_techstates_tab' component.number %}">
            Техсостояние
          </a>
        </li>
        <li class="nav-item"></li>
          <a class="nav-link {% if installations_tab %}active{% endif %}" href="{% url 'component_installations_tab' component.number %}">
            Монтаж/демонтаж
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if reconciliations_tab %}active{% endif %}" href="{% url 'component_reconciliations_tab' component.number %}">
            Сверка
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if tasks_tab %}active{% endif %}" href="{% url 'component_tasks_tab' component.number %}">
            Задачи
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if repairs_tab %}active{% endif %}" href="{% url 'component_repairs_tab' component.number %}">
            Ремонты
          </a>
        </li>
    </ul>
  <!------- Вкладки ------------------------->

    <br>
    <!-- Раздел с сообщениями -->
    {% if messages %}
    <div class="alert-messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message|safe }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Раздел с сообщениями -->

    {% block component_content %}
    {% endblock component_content %}
</div>

{% endblock content %}
