{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Компоненты{% endblock %}

{% block content %}

<h3 class="fw-bold fs-4 mb-3">Список компонентов</h3>

<div class="row">
    <div class="col-12">

        <table id="buckets_table" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Серийный номер</th>
                    <th>Название</th>
                    <th>Вид</th>
                    <th>Оборудование</th>
                    <th>Местонахождение</th>
                    <th>Статус</th>
                    <th>Ремонт</th>
                    <th>Подлежит эксплуатации</th>
                    <th>Код номенклатуры</th>
                    <th>Склад</th>
                    <th>Бух учет</th>
                    <th>Есть задача</th>
                </tr>
            </thead>
            <tbody>
                {% for component in components %}
                <tr>
                    <td>
                        <a href="{% url 'component_state_tab' component_number=component.number %}" class="text-body custom-link">
                            {{ component.number }}
                        </a>
                    </td>
                    <td>{{ component.serial_number|default:'-' }}</td>
                    <td>{{ component.component_type__name }}</td>
                    <td>{{ component.component_type__kind__name }}</td>
                    <td>{{ component.current_data__equipment__number|default:'-' }}
                        {% if component.current_data__component_location__name %}
                            {{ component.current_data__component_location__name }}
                        {% endif %}
                        {% if component.current_data__installation_date %}
                            ({{ component.current_data__installation_date|days_from }}дн)
                        {% endif %}
                    </td>
                    <td>
                        {{ component.current_data__location__name|default:'-' }}
                        {% if component.current_data__relocation_date %}
                            ({{ component.current_data__relocation_date|days_from }}дн)
                        {% endif %}
                    </td>
                    <td>{{ component.current_data__state__name|default:'-' }}</td>
                    <td>
                        {% if component.repair %}
                            <a href="{% url 'component_repair_update' component_number=component.number repair_pk=component.repair %}" class="text-body custom-link">
                                #{{ component.repair }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{% if component.current_data__is_operable == False %}❌{% endif %}</td>
                    <td title="{{ component.nomenclature }}">{{ component.nomenclature_code|default:'' }}</td>
                    <td>{{ component.warehouse|default:'-' }}</td>
                    <td>{% if component.is_compliant_with_import_data %}✅{% else %}❌{% endif %}</td>
                    <td>{% if component.has_unverified_task %}✅{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Номер</th>
                    <th>Серийный номер</th>
                    <th>Название</th>
                    <th>Вид</th>
                    <th>Оборудование</th>
                    <th>Местонахождение</th>
                    <th>Статус</th>
                    <th>Ремонт</th>
                    <th>Подлежит эксплуатации</th>
                    <th>Код номенклатуры</th>
                    <th>Склад</th>
                    <th>Бух учет</th>
                    <th>Есть задача</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

{% endblock content %}

{% block scripts %}
    {% include "partial/table_scripts.html" %}
{% endblock scripts %}
