{% extends 'base.html' %}

{% block title %}Отчет по компонентам{% endblock %}

{% block content %}

<h3 class="fw-bold fs-4 mb-3">Отчет по компонентам</h3>

<div class="row">
    <div class="col-12">

        <table id="buckets_table" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Всего</th>
                    <th>В обороте</th>
                    <th>Исправны</th>
                    <th>Установлено</th>
                </tr>
            </thead>
            <tbody>
                {% for component_type in components_types %}
                    <tr>
                        <td>{{ component_type.name }}</td>
                        <td>{{ component_type.total_components }}</td>
                        <td>{{ component_type.rotable_components }}</td>
                        <td>{{ component_type.healthy_components }}</td>
                        <td>{{ component_type.installed_components }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Наименование</th>
                    <th>Всего</th>
                    <th>В обороте</th>
                    <th>Исправны</th>
                    <th>Установлено</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

{% endblock content %}

{% block scripts %}
    {% include "partial/table_scripts.html" %}
{% endblock scripts %}
