{% extends 'buckets/bucket_base.html' %}


{% block bucket_content %}

    Исправить ошибки в документе техсостояния ковша
    <hr>
    <form class="forms-sample" action="{% url 'bucket_techstate_update' bucket_number=bucket.number techstate_pk=techstate.pk %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'bucket_techstates_tab' bucket_number=bucket.number %}" class="btn btn-secondary">Отмена</a>
    </form>
    
{% endblock bucket_content %}