{% extends 'base.html' %}

{% block title %}{{ contractor }}{% endblock %}

{% block content %}

<div class="container">
	<p class="fw-bold fs-3 mb-2">{{ contractor }}</p>
	<hr>
	<p class="fw-bold fs-5">Договоры</p>
	<hr>
	{% for contract in contractor.contracts.all %}
		<div class="mb-4">
			<div class="mb-3">
				<div><span class="fw-bold">Договор №{{ contract.number }}</span> от {{ contract.date }} - {{ contract.description|default:'' }}</div>
				<a href="{% url 'appendix_create' contract_pk=contract.pk %}">Добавить приложение</a>
				{% for attachment in contract.attachments.all %}
					<a href="{{ attachment.attachment_file.url }}" target="_blank">файл</a>
				{% endfor %}
				<div>
					{% for repair in contract.repairs.all %}
						<div>
							Ремонт №{{ repair.pk }}
							<a href="{% url 'component_repair_update' component_number=repair.component.number repair_pk=repair.pk %}">{{ repair.component }}</a>
							{% if repair.completed_at %}
								(выполнен {{ repair.completed_at }})
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
			{% for appendix in contract.appendixes.all %}
				<div class="mb-2">
					<span class="fw-bold">Приложение №{{ appendix.number }}</span> от {{ appendix.date }}
					{% for attachment in appendix.attachments.all %}
						<a href="{{ attachment.attachment_file.url }}" target="_blank">файл</a>
					{% endfor %}
					<div>
						{% for repair in appendix.repairs.all %}
							<div>
								Ремонт №{{ repair.pk }}
								<a href="{% url 'component_repair_update' component_number=repair.component.number repair_pk=repair.pk %}">{{ repair.component }}</a>
								{% if repair.completed_at %}
									(выполнен {{ repair.completed_at }})
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
		{% if contract.invoices.all %}
			<span class="fw-bold">Счета к договору</span>
			{% for invoice in contract.invoices.all %}
				<div class="mb-2">
					<span>{{ invoice }}</span>
					{% for attachment in invoice.attachments.all %}
						<a href="{{ attachment.attachment_file.url }}" target="_blank">файл</a>
					{% endfor %}
					<div>
						{% for repair in invoice.repairs.all %}
							<div>
								Ремонт №{{ repair.pk }}
								<a href="{% url 'component_repair_update' component_number=repair.component.number repair_pk=repair.pk %}">{{ repair.component }}</a>
								{% if repair.completed_at %}
									(выполнен {{ repair.completed_at }})
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		{% endif %}
		<hr>
	{% endfor %}
	<hr>
	<p class="fw-bold fs-5">Коммерческие предложения</p>
	<hr>
	{% for quotation in contractor.quotations.all %}
		<div>
			№{{ quotation.number|default:'б/н' }} от {{ quotation.date }} - {{ quotation.description|default:'' }}
			{% for attachment in quotation.attachments.all %}
				<a href="{{ attachment.attachment_file.url }}" target="_blank">файл</a>
			{% endfor %}
			<div>
				{% for component in quotation.components.all %}
					<div>{{ component }}</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>

{% endblock content %}
