{% extends 'base.html' %}

{% load static %}

{% block title %}Приказ{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <!-- Первая колонка -->
            <div class="col-md-6">
                <form class="forms-sample" action="{% url 'equipment_relocation_order_update' order_pk=order.pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if user_can_create_relocation %}
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    {% endif %}
                    <a href="{% url 'equipments_relocations_orders' %}" class="btn btn-secondary">Вернуться к приказам</a>
                </form>
            </div>
            <!-- Вторая колонка -->
            <div class="col-md-6">
                {% if user_can_create_relocation %}
                    <form class="forms-sample" action="{% url 'relocation_order_add_equipment' order_pk=order.pk %}" method="POST">
                        {% csrf_token %}
                        {{ add_equipment_form.as_p }}
                        <button type="submit" class="btn btn-primary">+</button>
                    </form>
                {% endif %}
                <hr>
                {% if user.is_superuser %}
                    <form class="forms-sample" action="{% url 'equipment_relocation_update_status' order_pk=order.pk %}" method="POST">
                        {% csrf_token %}
                        {{ order_update_status_form.as_p }}
                        <button type="submit" class="btn btn-primary">Установить</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <hr>

        <table id="buckets_table" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Оборудование</th>
                    <th>Перемещение</th>
                    <th>Дата перемещения</th>
                    <th>Акты ПП</th>
                </tr>
            </thead>
            <tbody>
                {% for equipment_number, relocation in order_equipments.items %}
                <tr>
                    <td>
                        <a href="{% url 'equipment_relocations_tab' equipment_number=equipment_number %}">
                            {{ equipment_number }}
                        </a>
                    </td>
                    <td>
                        {% if relocation %}
                            <a href="{% url 'equipment_relocation_update' equipment_relocation_pk=relocation.pk %}">
                                {{ relocation }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if relocation %}
                            {% if relocation.date %}
                                {{ relocation.date|date:"d.m.Y" }}
                            {% else %}
                                {% if user_can_create_relocation %}
                                    <form class="forms-sample d-flex justify-content-center align-items-center" action="{% url 'equipment_relocation_date_add' equipment_relocation_pk=relocation.pk %}" method="POST">
                                        {% csrf_token %}
                                        <input type="date" name="date" value="" class="form-control" style="max-width: 130px;" required="" id="id_date">
                                        <button type="submit" class="btn btn-primary">+</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if relocation %}
                            {% if relocation.attachments.all %}
                                {% for attachment in relocation.attachments.all %}
                                    <a href="{{ attachment.attachment_file.url }}" target="_blank">Акт ПП</a>
                                {% endfor %}
                            {% else %}
                                {% if user_can_create_relocation %}
                                    <form class="forms-sample" action="{% url 'equipment_relocation_attachment_add' equipment_relocation_pk=relocation.pk %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" name="attachment_file" id="file-input-{{ relocation.pk }}" class="d-none">
                                        <label for="file-input-{{ relocation.pk }}" class="custom-file-upload">
                                            <span class="btn btn-primary">+</span>
                                            <span id="file-name-{{ relocation.pk }}" class="text-muted"></span>
                                        </label>
                                        <button type="submit" id="submit-btn-{{ relocation.pk }}" class="btn btn-primary d-none">Сохранить</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>
        {% if user_can_create_relocation %}
            <form class="forms-sample" action="{% url 'equipment_relocation_create_by_order' order_pk=order.pk %}" method="POST">
                {% csrf_token %}
                {{ create_relocation_form.as_p }}
                <div>Создать перемещения на всё оборудование приказа</div>
                <button type="submit" class="btn btn-primary">Создать</button>
            </form>
        {% endif %}

    </div>

{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'scripts/add_attachment.js' %}"></script>
{% endblock scripts %}
