{% extends 'base.html' %}

{% block title %}Системы пожаротушения{% endblock %}

{% block content %}

<h3 class="fw-bold fs-4 mb-3">Системы пожаротушения</h3>

<a href="{{ document.attachment_file.url }}" target="_blank" class="text-body custom-link">скачать форму акта</a>
    
<div class="row">
    <div class="col-12">

        <table id="buckets_table" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Редактирование</th>
                    <th>Оборудование</th>
                    <th>Местоположение</th>
                    <th>Место проверки</th>
                    <th>Дата акта проверки</th>
                    <th>Состояние</th>
                    <th>Скан акта</th>
                    <th>Примечание</th>
                </tr>
            </thead>
            <tbody>
                {% for firefighting_system in firefighting_systems %}
                <tr>
                    <td>
                        {% if user_can_create_relocation %}
                            {% if firefighting_system.get_last_check %}
                                <a href="{% url 'firefighting_check_update' firefighting_check_pk=firefighting_system.get_last_check.pk %}" class="btn btn-inverse-dark btn-sm text-center" title="Редактировать текущий акт">
                                    <i class="ti-pencil-alt"></i>
                                </a>
                            {% endif %}
                            <a href="{% url 'firefighting_check_create' equipment_number=firefighting_system.equipment.number %}" class="btn btn-inverse-dark btn-sm text-center" title="Добавить новый акт">
                                <span class="btn btn-primary" style="font-size: 12px; padding: 2px 6px;">+</span>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'firefighting_tab' equipment_number=firefighting_system.equipment.number %}" class="text-body custom-link">
                            {{ firefighting_system.equipment.number }}
                        </a>
                    </td>
                    <td>{{ firefighting_system.equipment.get_location.name }}</td>
                    <td>{{ firefighting_system.get_last_check.location }}</td>
                    <td>{{ firefighting_system.get_last_check.date|date:"d.m.Y" }}</td>
                    <td>{{ firefighting_system.get_last_check.state }}</td>
                    <td>
                        {% if firefighting_system.get_last_check.attachment_file %}
                            <a href="{{ firefighting_system.get_last_check.attachment_file.url }}" target="_blank" class="text-body custom-link">скан акта</a>
                        {% endif %}
                    </td>
                    <td>{{ firefighting_system.get_last_check.note|default:'' }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Редактирование</th>
                    <th>Оборудование</th>
                    <th>Местоположение</th>
                    <th>Дата акта проверки</th>
                    <th>Состояние</th>
                    <th>Скан акта</th>
                    <th>Примечание</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

{% endblock content %}

{% block scripts %}
    {% include "partial/table_scripts.html" %}
{% endblock scripts %}