{% extends 'components/component_base.html' %}

{% load static %}

{% block component_content %}

    {% if user.is_superuser %}
        {% if component.get_equipment %}
        <a href="{% url 'component_deinstallation_create' component_number=component.number %}" class="btn btn-primary">
            Демонтаж
        </a> сделать отметку о демонтаже компонента
        {% else %}
        <a href="{% url 'component_installation_create' component_number=component.number %}" class="btn btn-primary">
            Установить
        </a> сделать отметку об установке компонента
        {% endif %}
    {% endif %}

    <table id="buckets_table" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Оборудование</th>
                <th>Дата</th>
                <th>Причина</th>
                <th>Примечания</th>
                <th>Автор</th>
            </tr>
        </thead>
        <tbody>
            {% for installation in comb_installations %}
            <tr>
                <td>
                    {% if installation.from_equipment %}
                        Демонтирован с
                        <a href="{% url 'equipment_all_events_tab' equipment_number=installation.from_equipment %}" class="custom-link">
                            {{ installation.from_equipment }}
                        </a>
                    {% endif %}
                    {% if installation.to_equipment %}
                        Установлен на
                        <a href="{% url 'equipment_all_events_tab' equipment_number=installation.to_equipment %}" class="custom-link">
                            {{ installation.to_equipment }}
                        </a>
                    {% endif %}
                    {% if installation.location %}
                        ({{ installation.location }})
                    {% endif %}
                </td>
                <td>{{ installation.date|date:"d.m.Y"|default:'-' }}</td>
                <td>{{ installation.reason|default:'-' }}</td>
                <td>{{ installation.note|default:'-' }}</td>
                <td>{{ installation.author.get_full_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock component_content %}