{% extends 'buckets/bucket_base.html' %}

{% load static %}

{% block bucket_content %}

    {% if bucket.requires_reconciliation %}
    <a href="{% url 'bucket_reconciliation_create' bucket_number=bucket.number %}" class="btn btn-primary">
        Произвести сверку
    </a>
    {% else %}
    <a href="#" class="btn btn-primary disabled">
        Произвести сверку
    </a> сверка не требуется
    {% endif %}
    
    <table id="buckets_table" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Дата сверки</th>
                <th>Автор</th>
            </tr>
        </thead>
        <tbody>
            {% for reconciliation in bucket.reconciliations.all %}
            <tr>
                <td>{{ reconciliation.date|date:"d.m.Y"|default:'-' }}</td>
                <td>{{ reconciliation.author.get_full_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock bucket_content %}